<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body class="component">

    <h1 class="">Card - Total Small Green</h1>

    <label>Caja contenedora</label>

    <!-- element starts here -->

    <section class="card-small-container">
        <div class="content_box card-small-green">
            <h3>Mañana se te acreditan</h3>
            <div class="info-wrapper">
               <div class="number-wrapper">
                   <span class="big-number">$ 10.001.072,<sup>54</sup></span>
               </div>
                <div class="button-wrapper">
                    <a href="#" class="button transparent">Ver más</a>
                </div>
            </div>
        </div>
    </section>

    <!-- element ends here -->

</body></html>
