<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body class="component">

    <h1 class="">Card - Total Big</h1>

    <label>Caja contenedora</label>

    <!-- element starts here -->

    <section class="card-big-container">
        <div class="content_box card-big">
            <h2>Hoy te acreditan</h2>
            <span class="big-number">18.360.072,<sup>54</sup></span>
            <div>
                <a href="#" class="button transparent">Ver más</a>
            </div>
        </div>
    </section>

    <!-- element ends here -->

</body>

</html>
